.player_parent {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: whitesmoke;
  background-color: rgba(246,241,238, 1);
}

.progressbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play_pause_button{
  padding: 1em 1em;
  border-radius:0.15em;
  /* margin: 0 0.3em 0.3em 0; */


  /* text-transform:uppercase; */
  color: white;
  color: black;

  font-size: .7em;
  font-weight:700;

  /* background-color: rgb(236,28,36); */
  /* background-color: rgb(221, 28, 35); */
  background-color:#3369ff;
  background-color: grey;
  background-color: whitesmoke;
  background-color: rgb(224, 220, 217);

  box-shadow:.1em .1em .1em 0.1em rgba(0,0,0,0..5);
  box-shadow:inset 0.4em -0.6em 0 -0.35em rgba(0,0,0,0.17);
  border: none;

  text-align:center;
  /* position:relative; */

  cursor: pointer;
}
/* .play_pause_button:hover{
  border: none;
  outline: none;
  box-shadow:inset 0 -0.1em 0 0em rgba(0,0,0,.3);
} */

.currentTime{
  color: #d80e15;
  padding-right: 5px;
}
.duration {
  padding-left: 5px;
}


#slider::-webkit-slider-thumb {

    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    transition: all 250ms ease-in;

    background: #d80e15;
    cursor: pointer;
    margin-top: -0.01px;
}

/* #slider::-webkit-slider-thumb:hover {
  -webkit-appearance: none;

  height: 20px;
  width: 5px;

  background: #fd0000;

} */
#slider {
    width: 80%;
    height: 1px;
    outline: none;

    background: linear-gradient(to right, #FD3700 0%, #FD3700 0%, grey 0%, grey 100%);
    -webkit-appearance: none;
}
#slider:focus {
  border: none;
}
