:root{
  --star-color: gold;
}

.page_parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_container{
  width: 55.49%;
  background-color: rgba(246,241,238, 1);
}

.banner{
  height: 40vh;

  position: relative;
  overflow-y: hidden;

  box-shadow: 0px 2px 2px 0px black;
}

    .banner_img{
      position: relative;
      top: -140px;
      width: 55vw;
    }

    .title{
      position: relative;
      z-index: 1;
      color: white;

      font-size: 3.5em;

      background-color: rgba(235, 57, 13, 0.4);
      background-color: rgba(255, 0, 0, 0.4);
      background-color: rgba(51,105,255, .7);

      transform: translate(0%, 200%);

      display: flex;
      justify-content: center;
    }

.content{
  min-height: 100vh;
  width: 100%;

  display: flex;
}
    .reserved_shows{
      width: 60%;

      border-right: 1px solid black;

      background-color: rgba(238, 238, 238, 1);

      box-shadow: inset 1px 0px 5px 0px rgba(0, 0, 0, 0.7);
    }
        .reserved_shows_header{
          text-align: center;
          padding: 20px;

          background-color: rgba(51,105,255, .99);
          color: white;

          font-size: 1.3em;

          box-shadow: 0px 3px 2px 0px black;

          z-index: 0;
          position: relative;
        }

        .user_showcard{
          padding: 10px;
          padding-left: 20px;

          border-bottom: 1px solid grey;
          border-left: 1px solid lightgrey;
          box-shadow: 0px 2px 2px -1px grey;

          margin-bottom: 1px;

          background-color: rgba(246,241,238, 1);

          display: flex
        }

                .artist{
                  font-size: 2em;
                  padding-bottom: 5px;
                }

                .date_time{
                  padding-bottom: 10px;
                }

                .cost{
                  color: grey;
                }
                .address{
                  color: grey;
                  padding-bottom: 10px;
                }

                .description{
                  font-size: .9em;
                }

            .cancel_button_holder{
              display: flex;
              align-items: center;
            }

            .cancel_button{

              padding: 0.7em 1.4em;
              margin: 0 0.3em 0.3em 0;

              border-radius:0.15em;

              text-transform:uppercase;
              color: white;

              font-weight:400;

              background-color:#3369ff;

              box-shadow:.1em .1em .1em 0.1em rgba(0,0,0,0..5);
              border: none;
              text-align:center;
              position:relative;

              cursor: pointer;
            }

    .reviews{
      box-sizing: border-box;
      width: 40%;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: rgb(238, 238, 238);

      box-shadow: inset -1px 0px 5px 0px rgba(0, 0, 0, 0.7);
    }

        .reviews_header{
          box-sizing: border-box;
          width: 100%;
          text-align: center;
          padding: 20px;

          background-color: rgba(255, 0, 0, 0.8);
          color: white;

          font-size: 1.3em;

          box-shadow: 0px 3px 2px 0px rgb(39, 39, 39);
          z-index: 1;
        }
